:root {
  --unit: 8px;
  --color-document: #000000;
  --color-background: #222;
  --color-midground: #373737;
  --color-foreground: #9e9e9e;
  --color-transition: 400ms ease-out;
  --font-size: calc(var(--unit) * 1.5);
}

@media (prefers-color-scheme: dark) {
  html[data-theme="dark"] {
    --color-document: #000000;
    --color-background: #101010;
    --color-midground: #373737;
    --color-foreground: #9e9e9e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-document: #efefef;
    --color-background: #cdcdcd;
    --color-midground: #c64e4e;
    --color-foreground: #1e1e1e;
  }
}
